

body{
  display: flex;
  justify-content: center;
  background-color: #3c3c3c

}
.canvas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 25px;
  width: 1000px;
  height: 1500px;
  padding: 20px;

}





/* Define individual widget sizes */